!~/.config/yadm

# Directories
Applications/
Datasets/
datasets/
Desktop/
Documents/
Downloads/
Music/
Models/
OwnCloud/
Pictures/
Public/
snap/
Softwares/
Videos/
Workspaces/
Projects/
Websites/
Sharing
Public
ros_catkin_ws/
ws_pheno/


# Hidden files
.venv/
.codeium/
.rviz2
.mlp/
.var/
.functions/functions_local.sh
.pdbhistory
.mlflow/
.torch/
.vim/temp_dirs/
.vim/.netrwhist
.vim/autoload/
.anydesk/
.miniconda3/
.zshenv_local
.functions_local.zsh
.condarc
.anaconda3/
.pidatalocal
.tmux/resurrect/
.gtk-bookmarks
.pulse-cookie
.klei/
.oh-my-zsh/
.steam/
.steampath
.steampid
.bzr.log
.Hotstop
.ICEauthority
.VSCodeVim/
.Xauthority
.android/
.apport-ignore.xml
.aptitude/
.audacity-data/
.aws/
.bash_history
.bash_logout
.bashrc
.cache/
.ccache/
.cmake/
.compiz/
.config/
.dbus/
.dia/
.dmrc
.docker/
.dropbox-dist/
.dropbox/
.eclipse/
.enthought/
.gazebo/
.gconf/
.gdb_history
.gdbinit_bak
.git-got-cache/
.github_token
.gitkraken/
.gksu.lock
.gnome/
.gnome2/
.gnupg/
.gps_backup/
.gtk-recordmydesktop
.gworldclock
.hplip/
.iep/
.install4j
.install4j_jre
.ipython/
.java/
.kde/
.keras/
.lesshst
.local/
.macromedia/
.minirc.dfl
.mozilla/
.mume/
.mysql_history
.node_repl_history
.npm/
.octave_hist
.octaverc
.openshot/
.oracle_jre_usage/
.pki/
.profile
.pylint.d/
.python-history
.python_history
.pyxbld/
.repo_.gitconfig.json
.repoconfig/
.rnd
.ros/
.rviz/
.sdformat/
.ssh/
.subversion/
.sudo_as_admin_successful
.swt/
.temp/
.texmf-var/
.thunderbird/
.tzlist
.vim_mru_files
.vim/plugged/
.vim/black/
.vimm/
.viminfo
.virtualenvs/
.vscode-insiders/
.vscode/
.wget-hsts
.xbindkeysrc
.xinputrc
.xournal/
.xsession-errors*
.zcompdump*
.zsh_history*
.pam_environment
.bazaar/
.tig_history
.devscripts
.texlive2017/
.jupyter/
.nv/
.pyzo/
.mono/
.zshrc_local
.onnx/
.z
.adobe/
.lldb
.gem/
.scanview.cfg
.vboxclient-*
.ai2thor/
.vscode-cpptools/
.yarnrc
.cat_installer
.latexdraw
.xsel.log
.tldr/
.org.**/
.conda/
.kite/
.gimp**
.octave_**
.evo/
.matlab/
.openshot*
.openjfx*
.yarn*
.ipyvolume*
.gphoto*
.gnome2_private*
.regolith-gnome-backup*
.zoom/
.clangd/
.vscode-server/
.nvidia-settings-rc
.nix*
.python-gitlab.cfg
.plantanalyzer/
.vnc/
*.pyc
.pyenv
.cups/
.texlive*/
.nsightsystems/
.dotnet/
.landscape/
.motd_shown
.sane/
.surfshark
.todo.db
.fzf
.condarc
.evaluations/
