[submodule ".oh-my-zsh"]
        path = .oh-my-zsh
        url = git@github.com:nachovizzo/oh-my-zsh.git
[submodule "3rdparty/diff-so-fancy"]
        path = 3rdparty/diff-so-fancy
        url = git@github.com:so-fancy/diff-so-fancy.git
[submodule ".tmux"]
	path = .tmux
	url = git@github.com:gpakosz/.tmux.git
[submodule ".fzf"]
    path = 3rdparty/.fzf
    url = https://github.com/junegunn/fzf.git
