name: On-Push

on:
  push:
    branches:
      - main

jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install YADM 
        run: sudo apt-get install yadm
      - name: Clone dotfiles
        run: yadm clone --bootstrap https://github.com/alericcardi/dotfiles.git 
      - name: Install dotfiles
        run: yadm bootstrap 


